@model ProductVM
@{ 
    double stars = Model.Reviews.Sum(p=>p.Star);
    double reCount = Model.Reviews.Count();
    double starCount = stars / reCount;
    if (double.IsNaN(starCount))
    {
        starCount = 0;
    }
}
<div class="right-prod-det ">
    <div class="content">
        <h2>@Model.Product.Name</h2>
<div class="icons-product">
    @if (stars != 0 && reCount != 0)
    {
        @for (int i = 0; i < Math.Floor(starCount); i++)
        {
            <i class="fa-solid fa-star"></i>
        }
        @if ((starCount - Math.Floor(starCount)) > 0 && (starCount - Math.Floor(starCount)) < 1)
        {
            <i class="fa-solid fa-star-half-stroke"></i>
        }
    }
        @for (int i = 0; i < 5-Math.Ceiling(starCount); i++)
        {
            <i class="fa-solid fa-star fip"></i>
        }
    <span>(@starCount.ToString("0.0"))</span>
</div>
        <p>
            Nam tempus turpis at metus scelerisque placerat nulla deumantos solicitud felis. Pellentesque diam dolor, elementum etos lobortis des mollis ut risus. Sedcus faucibus an sullamcorper mattis drostique des commodo pharetras...
        </p>
        <form action="" id="product-detail-form">
            <div class="formElem price">
                <span>Price:</span>
                @if (ViewBag.DisPrice == null && ViewBag.Price == null)
                {
    <span class="price-value unavailable">Unavailable</span> }
else if (ViewBag.DisPrice == 0)
{
    <span class="price-value productPriceVal"> $@ViewBag.Price.ToString("0.00")</span> }
else
{
    <span class="price-value productPriceVal"> $@ViewBag.DisPrice.ToString("0.00") <del>$@ViewBag.Price.ToString("0.00")</del></span>}
            </div>
            <div class="formElem formElems sizes" style=" display: flex; justify-content: start; align-items: center;">
                <span>Size:</span>
                @foreach (Size size in ViewBag.SizesDet)
                {
                    if (size.Id == ViewBag.SizeId)
                    {
    <a href="" class="size active-det" data-size="@size.Id" data-id="@Model.Product.Id">@size.Name</a> }
else
{
    <a href="" class="size" data-size="@size.Id" data-id="@Model.Product.Id">@size.Name</a>}
}
            </div>
            <div class="formElem formElems colors" style=" display: flex; justify-content: start; align-items: center;">
                <span>Color:</span>
                @foreach (Color color in ViewBag.ColorsDet)
                {
                    if (color.Id == ViewBag.ColorId)
                    {
    <a href="" class="color active-det" data-color="@color.Id" data-id="@Model.Product.Id" style=" padding: 0px 0px 5px 5px; overflow: hidden;">
        <img src="~/images/products/@color.ProductColorSizes.ElementAt(0)?.Image" />
    </a> }
                    else
                    {
    <a href="" class="color" data-color="@color.Id" data-id="@Model.Product.Id" style=" padding: 0px 0px 5px 5px; overflow: hidden;">
        <img src="~/images/products/@color.ProductColorSizes.ElementAt(0)?.Image" />
    </a>}
                }

            </div>
            <div class="formElem speciality">
                <span>Specialty:</span>
                <div>
                    <a asp-controller="product" asp-action="toTagCatSpeVen" asp-route-which="Speciality" asp-route-whichId="@Model.Product.Speciality.Id">@Model.Product.Speciality.Name</a>
                </div>
            </div>
            <div class="formElem vendor">
                <span>Vendor:</span>
                <a asp-controller="product" asp-action="toTagCatSpeVen" asp-route-which="Vendor" asp-route-whichId="@Model.Product.Vendor.Id">@Model.Product.Vendor.Name</a>
            </div>
            <div class="formElem type">
                <span>Type:</span>
                <a asp-controller="product" asp-action="toTagCatSpeVen" asp-route-which="Category" asp-route-whichId="@Model.Product.Category.Id">@Model.Product.Category.Name</a>
            </div>
            <div class="formElem type">
                <span>Availability:</span>
                <span style="color:@((ViewBag.ProdCount == 0 || ViewBag.ProdCount == null)?"#c1001c":"green")">@((ViewBag.ProdCount == 0 || ViewBag.ProdCount == null) ? "Out of stock":"In Stock")</span>
            </div>
            <div class="formElem quantity">
                <span>Quantity:</span>
                <div class="count">
                    <a href="" class="pdec">-</a>
                    <input type="text" class="prod-count prodDetailCount" data-productCount="@ViewBag.ProdCount" value="1">
                    <a href="" class="pinc">+</a>
                </div>
            </div>

            @if (ViewBag.DisPrice == null && ViewBag.Price == null)
            {
    <a href="" class="viewshopAbutton">Unavailable</a><br>
                    <a href="" class="viewshopAbutton">Add to wishlist</a><br />
                                    <p><a href="" style="color: black;font-weight: 600;" class="detail-email-send">Click Here</a> to be notified by email when Bavaria Wine becomes available.</p>
                                                    <input placeholder="your@email.com" /><br />
                                                                    <a href="" class="viewshopAbutton default-link">Send</a> }
                                                                else
                                                                {
                                                                    if (ViewBag.StockCount == null || ViewBag.StockCount == 0)
                                                                    {
                                                    <a href="" class="viewshopAbutton default-link outofstock">Add to Cart</a> }
                                                else
                                                {
                                <a asp-controller="home" asp-action="AddToBasket"
                                   asp-route-id="@Model.Product.Id"
                                   asp-route-colorid="@ViewBag.ColorId"
                                   asp-route-sizeid="@ViewBag.SizeId"
                                   class="viewshopAbutton detail-btns addbasketfromPD">Add to Cart</a> }
            <a href="" class="viewshopAbutton detail-btns">Add to wishlist</a>}
        </form>
    </div>
</div>