@model IEnumerable<Product>

<div class="col-lg-12 row ">

    @if (Model.Count() > 0)
    {
        foreach (Product product in Model)
        {
<div class="product-card col-lg-12 col-xl-4">
    <div class="image">
        @if (product.ProductColorSizes.ElementAt(0).DiscountPrice != 0)
        {
<div class="sale">Sale</div>}
        <div class="overlay">
            <a asp-controller="product"
               asp-action="detail"
               asp-route-id="@product.Id"
               asp-route-colorid="@product.ProductColorSizes.ElementAt(0).ColorId"
               asp-route-sizeid="@product.ProductColorSizes.ElementAt(0).SizeId"
               class="linktoProddetail"></a>
            <div class="buttons">
                <div class="heart">
                    @if (User.Identity.IsAuthenticated)
                    {
<a asp-controller="home"
   asp-action="AddToWishlist"
   asp-route-id="@product.Id"
   asp-route-colorid="@product.ProductColorSizes.ElementAt(0).ColorId"
   asp-route-sizeid="@product.ProductColorSizes.ElementAt(0).SizeId"
   class="product-card-icons addtowishlist">
    <i class="fa-solid fa-heart"></i>
</a> }
else
{
<a asp-controller="account"
   asp-action="login"
   class="product-card-icons">
    <i class="fa-solid fa-heart"></i>
</a>}
                </div>
                <div class="search" class="product-card-icons">
                    <a asp-controller="home"
                       asp-action="DetailModal"
                       asp-route-id="@product.Id"
                       asp-route-colorid="@product.ProductColorSizes.ElementAt(0).ColorId"
                       asp-route-sizeid="@product.ProductColorSizes.ElementAt(0).SizeId"
                       class="product-card-icons">
                        <i class="fa-solid fa-magnifying-glass open-modal"></i>
                    </a>
                </div>
            </div>
        </div>
        <img src="~/images/products/@product.MainImage" class="main" alt="">
        <img src="~/images/products/@product.HoverImage" class="hover" alt="">
    </div>
    <div class="content">
        <a href="~/" class="prod-name">@product.Name</a>
        @if (product.ProductColorSizes.ElementAt(0).DiscountPrice != 0)
        {
<div style="display: flex; justify-content: center; align-items: center;">
    <h3>$@product.ProductColorSizes.ElementAt(0).DiscountPrice</h3>
    <del style="margin: 0 10px;color: #80808091;font-family: Text Me One, sans-serif;font-weight: 700;">$@product.ProductColorSizes.ElementAt(0).Price</del>
</div> }
else
{
<h3>$@product.ProductColorSizes.ElementAt(0).Price</h3>}
        @if (product.ProductColorSizes.ElementAt(0).StockCount < 1)
        {
<a href="#"
   data-toggle="tooltip" title="Add To Cart" class="default-link outofstock viewshopAbutton">
    <i class="fa-solid fa-cart-shopping"></i>Add to cart
</a> }
else
{
<a asp-controller="home" asp-action="AddToBasket"
   asp-route-id="@product.Id"
   asp-route-colorid="@product.ProductColorSizes.ElementAt(0).ColorId"
   asp-route-sizeid="@product.ProductColorSizes.ElementAt(0).SizeId"
   data-toggle="tooltip" title="Add To Cart" class="addtocart">
    <i class="fa-solid fa-cart-shopping"></i>Add to cart
</a>}
    </div>
</div> }
}
else
{
<p><i style="font-family: 'Text Me One'">We have no products in your Frontpage collection. This placeholder will appear until we add a product to this collection.</i></p>}
</div>
<div class="col-lg-12 d-flex justify-content-center" style="margin-top: 50px;">
    <nav>
        <ul class="pagination">

            @if (ViewBag.PageIndex > 1)
            {
<li class="page-item">
    <a class="page-link" asp-action="index" asp-route-page="1" aria-label="Previous">
        @("<<")
    </a>
</li>
                <li class="page-item">
                    <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)" aria-label="Previous">
                        @("<")
                    </a>
                </li>
                                @if (ViewBag.PageIndex == ViewBag.PageCount && ViewBag.PageIndex > 2)
                                {
                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-2)">@(ViewBag.PageIndex-2)</a></li>
}
                                                <li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex-1)">@(ViewBag.PageIndex-1)</a></li>
}

            <li class="page-item"><a class="page-link" style="background: #e3a51e;color:white;" asp-action="index" asp-route-page="@ViewBag.PageIndex">@ViewBag.PageIndex</a></li>

            @if (ViewBag.PageIndex < ViewBag.PageCount)
            {
<li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex + 1)">@(ViewBag.PageIndex + 1)</a></li>

                @if (ViewBag.PageIndex == 1 && (ViewBag.PageIndex + 2) < ViewBag.PageCount)
                {
<li class="page-item"><a class="page-link" asp-action="index" asp-route-page="@(ViewBag.PageIndex+2)">@(ViewBag.PageIndex+2)</a></li>
}
                                <li class="page-item">
                                    <a class="page-link" asp-route-page="@(ViewBag.PageIndex + 1)" aria-label="Next">
                                        @(">")
                                    </a>
                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" asp-action="index" asp-route-page="@ViewBag.PageCount" aria-label="Next">
                                                        @(">>")
                                                    </a>
                                                </li>
}
        </ul>
    </nav>
</div>